<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 任务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/taskList" title="任务列表">任务列表</a></li>
					<li><a href="/admin/file" title="上传脚本">上传脚本</a></li>
					<li><a href="/admin/toLog" title="手机日志">手机日志</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div th:fragment="pngfix" class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>