<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-index">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/index" title="首页">首页</a></dt>
		</dl>
		<dl id="menu-taskList">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/taskList" title="任务列表">任务列表</a></dt>
		</dl>
		<dl id="menu-pcTaskList">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/pcTaskList" title="PC端任务列表">PC端任务列表</a></dt>
		</dl>
		<dl id="menu-file">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/file" title="上传脚本">上传脚本</a></dt>
		</dl>
		<dl id="menu-toLog">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/toLog" title="手机日志">手机日志</a></dt>
		</dl>
		<dl id="menu-vm">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/vmList" title="虚拟机执行情况">虚拟机执行情况</a></dt>
		</dl>
		<dl id="menu-count">
			<dt><i class="Hui-iconfont">&#xe616;</i> <a href="/admin/countList" title="移动端账户管理">移动端账户管理</a></dt>
		</dl>
	</div>
</aside>
<div th:fragment="pngfix" class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>