<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<div th:replace="_meta :: meta"></div>
	<div th:replace="_meta :: script"></div>
	<div th:replace="_meta :: link"></div>

	<title>我的桌面 - 后台管理系统 v1.0</title>
	<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
	<div th:replace="_header :: header"></div>

	<div th:replace="_menu :: aside"></div>

	<section class="Hui-article-box">
		<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
			<span class="c-999 en">&gt;</span>
			<span class="c-666">我的桌面</span>
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<div class="Hui-article">
			<article style="height: 55%">
				<div id="container" style="height: 100%"></div>
			</article>
			<article class="cl pd-20">
				<table class="table table-border table-bordered table-bg">
					<thead>
						<tr>
							<th colspan="7" scope="col">任务统计</th>
						</tr>
						<tr class="text-c">
							<th>统计</th>
							<th>任务数</th>
							<th>需执行次数</th>
							<th>完成数</th>
						</tr>
					</thead>
					<tbody>
					<tr class="text-c">
							<td>总数</td>
							<td th:text="${task_num}">0</td>
							<td th:text="${run_num}">0</td>
							<td th:text="${completed}">0</td>
						</tr>
						<tr class="text-c">
							<td>今日</td>
							<td th:text="${today_task_num}">0</td>
							<td th:text="${today_run_num}">0</td>
							<td th:text="${today_completed}">0</td>
						</tr>
						<tr class="text-c">
							<td>昨日</td>
							<td th:text="${lastday_task_num}">0</td>
							<td th:text="${lastday_run_num}">0</td>
							<td th:text="${lastday_completed}">0</td>
						</tr>
						<tr class="text-c">
							<td>本周</td>
							<td th:text="${week_task_num}">0</td>
							<td th:text="${week_run_num}">0</td>
							<td th:text="${week_completed}">0</td>
						</tr>
						<tr class="text-c">
							<td>本月</td>
							<td th:text="${month_task_num}">0</td>
							<td th:text="${month_run_num}">0</td>
							<td th:text="${month_completed}">0</td>
						</tr>
					</tbody>
				</table>
			</article>
			<div th:replace="_footer :: footer"></div>
		</div>
	</section>


	<div th:replace="_footer :: script"></div>


	<script type="text/javascript" src="/lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>

	<script th:inline="javascript">
        var chartData = [[${chartData}]];
        var failChartData = [[${failChartData}]];
        var successChartData = [[${successChartData}]];

        var obj = {"name":"总次数"};

		var categories1 = new Array();
        var datas = new Array();
		$.each(chartData,function(index,data){
		    datas.push(data.total);
            categories1.push(data.calendarDate.split("T")[0]);
		});
		obj.data = datas;

        var obj1 = {"name":"失败次数"};
        var categories2 = new Array();
        var datas1 = new Array();
        $.each(failChartData,function(index,data){
            datas1.push(data.total);
            categories2.push(data.calendarDate.split("T")[0]);
        });
        obj1.data = datas1;

        var obj2 = {"name":"成功次数"};
        var categories3 = new Array();
        var datas2 = new Array();
        $.each(successChartData,function(index,data){
            datas2.push(data.total);
            categories3.push(data.calendarDate.split("T")[0]);
        });
        obj2.data = datas2;

        var chart = Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: '近31天完成数'
            },
            xAxis: {
                categories:categories1
            },
            exporting:{
                enabled:false
			},
            credits:{
              enabled:false
			},
            yAxis: {
                title: {
                    text: '数量 (次)'
                }
            },
            series: [obj,obj1,obj2]
        });

	</script>

</body>
</html>