<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zteek.mapper.TaskMapper" >

    <resultMap id="BaseResultMap" type="com.zteek.entity.AmazonTask" >
        <id column="id" property="id"/>
        <result column="args" property="args" />
        <result column="asin" property="asin" />
        <result column="level" property="level" />
        <result column="run_num" property="runNum" />
        <result column="runing_num" property="runingNum" />
        <result column="run_completed" property="runCompleted" />
        <result column="remaining" property="remaining" />
        <result column="data_status" property="dataStatus" />
        <result column="country" property="country" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />

        <result column="calendar_date" property="calendarDate" />
        <result column="total" property="total" />



        <result column="asin" property="asin" />
        <result column="taskName" property="taskName" />
        <result column="run_num" property="runNum" />
        <result column="url" property="url" />
        <result column="doPage" property="doPage" />
        <result column="count" property="count" />
        <result column="sginCount" property="sginCount" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 按照级别倒序、创建时间升序，获取指定数量任务 by:leo,at:2018/10/18,up:leo,at:2018/10/28 -->
    <select id="getTasks" resultMap="BaseResultMap">
         select id,args,run_num,run_completed,remaining,country from amazon_task t where country=#{country} and t.remaining &gt; 0 and t.data_status=1  order by t.level desc,t.created_date
        <if test="maxTaskNum != null and maxTaskNum != ''">
            LIMIT #{maxTaskNum}
        </if>
    </select>

    <!-- 根据ID更新任务状态 by:leo,at:2018/10/28 -->
    <update id="updateTaskStatusById">
        update amazon_task set data_status=#{dataStatus} where id = #{id}
    </update>
    <!-- 根据id修改已执行次数和未执行次数 -->
    <update id="updateTaskById">
        update amazon_task set runing_num = runing_num + 1,remaining = remaining -1 where id = #{id}
    </update>
    <update id="completedTaskById">
        update amazon_task set runing_num = if(((runing_num - 1) &lt; 0),0,runing_num-1) ,run_completed = if(((run_completed + 1) &gt; run_num),run_num,run_completed + 1) where id = #{taskId}
    </update>


    <insert id="insertTaskRecord"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into amazon_task_run
          (task_id,imei,result_message,result_code,created_time)
        values
          (#{taskId},#{imei},"正在执行中",0,now())
    </insert>

    <update id="updateTaskRecord">
        update amazon_task_run set result_message=#{resultMessage},result_code=#{resultCode},end_time=now(),consuming=TIMESTAMPDIFF(SECOND,created_time,now()) where id=#{id}
    </update>


    <insert id="insertTask">
        INSERT INTO amazon_task(args,asin, `level`, run_num, runing_num, run_completed, remaining,country, created_by, created_date)
        VALUES (
          #{args},#{asin},#{level},#{runNum},0,0,#{runNum},#{country},#{createdBy},now()
        )
    </insert>

    <select id="getTaskList" resultMap="BaseResultMap">
      select
        t.id,t.args,t.asin,t.`level`,t.run_num,t.runing_num,t.run_completed,t.remaining,t.data_status,t.country,t.created_by,t.created_date
      from
          amazon_task t
       WHERE 1=1
          <if test="asin != null and asin != ''">
              and t.asin = #{asin}
          </if>
        <if test="dataStatus != null and dataStatus != ''">
            and t.data_status = #{dataStatus}
        </if>
      order by t.`level` desc,t.created_date desc
    </select>


    <select id="indexTable" resultType="map">

        <if test="ct==0">
            select ifnull(count(1),0) AS task_num,ifnull(sum(t.run_num),0) AS run_num from amazon_task t
        </if>
        <if test="ct==1">
            select ifnull(count(1),0) AS today_task_num,ifnull(sum(t.run_num),0) AS today_run_num from amazon_task t WHERE t.created_date > CURDATE()
        </if>
        <if test="ct==2">
            select ifnull(count(1),0) AS lastday_task_num,ifnull(sum(t.run_num),0) AS lastday_run_num from amazon_task t WHERE t.created_date between DATE_SUB(CURDATE(),INTERVAL 1 DAY) AND CURDATE()
        </if>
        <if test="ct==3">
            select ifnull(count(1),0) AS week_task_num,ifnull(sum(t.run_num),0) AS week_run_num from amazon_task t WHERE DATE_FORMAT(t.created_date,'%Y-%u') = DATE_FORMAT(CURDATE(),'%Y-%u')
        </if>
        <if test="ct==4">
            select ifnull(count(1),0) AS month_task_num,ifnull(sum(t.run_num),0) AS month_run_num from amazon_task t WHERE DATE_FORMAT(t.created_date,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')
        </if>

        <if test="ct==5">
            select ifnull(count(1),0) AS completed from amazon_task_run t WHERE t.end_time IS not null
        </if>
        <if test="ct==6">
            select ifnull(count(1),0) AS today_completed from amazon_task_run t WHERE t.end_time > CURDATE()
        </if>
        <if test="ct==7">
            select ifnull(count(1),0) AS lastday_completed from amazon_task_run t WHERE t.end_time between DATE_SUB(CURDATE(),INTERVAL 1 DAY) AND CURDATE()
        </if>
        <if test="ct==8">
            select ifnull(count(1),0) AS week_completed from amazon_task_run t WHERE DATE_FORMAT(t.end_time,'%Y-%u') = DATE_FORMAT(CURDATE(),'%Y-%u')
        </if>
        <if test="ct==9">
            select ifnull(count(1),0) AS month_completed from amazon_task_run t WHERE DATE_FORMAT(t.end_time,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')
        </if>


    </select>

    <select id="lineChart" resultMap="BaseResultMap">
        select t1.calendar_date,ifnull(t.c,0) total from
        (
            select tsc.calendar_date
            from tb_system_calendar tsc
            where tsc.calendar_date
            BETWEEN DATE_SUB(CURDATE(),INTERVAL 31 DAY) AND CURDATE()
        ) t1
        LEFT JOIN
        (
            select
                DATE_FORMAT(atr.end_time,'%Y-%m-%d') as end_time,count(1) c
            from
                amazon_task_run atr
                WHERE
                  atr.end_time is not null
                <if test="resultCode != null and resultCode != ''">
                    and atr.result_code=#{resultCode}
                </if>
                <if test="taskId != null and taskId != ''">
                    and atr.task_id=#{taskId}
                </if>
        group by DATE_FORMAT(atr.end_time,'%Y-%m-%d')
        ) t on t1.calendar_date=t.end_time
        order by t1.calendar_date
    </select>

    <!-- 查询成功任务耗时 by:leo,at:2018/10/23 -->
    <select id="taskConsuming" resultType="map">
            select
                max(atr.consuming) maxConsume,
                min(atr.consuming) minConsume,
                round(avg(atr.consuming),0) avgConsume
            from amazon_task_run atr
        where atr.end_time is not null and atr.result_code=2
        and atr.task_id=#{taskId}
    </select>

    <!-- 查询任务成功率及成功数 by:leo,at:2018/10/23 -->
    <select id="taskSuccessRate" resultType="map">
        select ROUND(t1.success/t2.total*100,2) as success_rate,t1.success from (
              select count(1) success from amazon_task_run atr where
              atr.result_code=2
              and atr.task_id=#{taskId}
                <if test="rateType == 1">
                    and atr.end_time &gt; CURDATE()
                </if>
                <if test="rateType == 2">
                    and atr.end_time BETWEEN DATE_SUB(CURDATE(),INTERVAL 1 DAY) AND CURDATE()
                </if>
                <if test="rateType == 3">
                    and atr.end_time is not null
                </if>
              ) t1,
            (select count(1) total from amazon_task_run atr
                where atr.task_id=#{taskId}
                <if test="rateType == 1">
                    and atr.end_time &gt; CURDATE()
                </if>
                <if test="rateType == 2">
                    and atr.end_time BETWEEN DATE_SUB(CURDATE(),INTERVAL 1 DAY) AND CURDATE()
                </if>
                <if test="rateType == 3">
                    and atr.end_time is not null
                </if>
            ) t2
    </select>

    <!-- PC端根据国家随机获取一个任务 -->
    <select id="getTaskForPC" resultMap="BaseResultMap">
        select * from  amazon_task_pc t where t.data_status=1 and t.count &lt; t.run_num and country=#{Country} order by RAND() LIMIT 1;
    </select>
    <!-- PC端根据国家和任务名称获取指定任务 -->
    <select id="getTaskForPCByName" resultMap="BaseResultMap">
        select * from  amazon_task_pc t where t.data_status=1 and t.count &lt; t.run_num and t.taskName=#{taskName} and country=#{Country};
    </select>
    <!-- PC端随机获取一千条有序Cookie -->
    <select id="getCookies" resultType="com.zteek.entity.Cookies">
        SELECT r1.id,r1.cookie FROM amazon_cookie AS r1 JOIN (SELECT ROUND(RAND() * (SELECT MAX(id) FROM amazon_cookie)) AS id) AS r2 WHERE r1.id >= r2.id and r1.nextTime &lt; now() ORDER BY r1.id ASC LIMIT 500;
    </select>

    <select id="updateCookieNextTime">
        update amazon_cookie set nextTime=#{date} where id = #{id}
    </select>
    <!-- PC端添加一个任务 -->
    <insert id="insertPCTask">
         INSERT INTO amazon_task_pc(args,taskName,asin,doPage, run_num,`count`,url,country, created_time)
        VALUES (
          #{args},#{taskName},#{asin},#{doPage},#{runNum},0,#{url},#{country},now()
        )
    </insert>
    <!-- PC端数据列表 -->
    <select id="getPCTaskList" resultMap="BaseResultMap">
        select
          *
        from
          amazon_task_pc t
        WHERE 1=1
        <if test="asin != null and asin != ''">
            and t.asin = #{asin}
        </if>
        <if test="dataStatus != null and dataStatus != ''">
            and t.data_status = #{dataStatus}
        </if>
        order by t.created_time desc
    </select>
    <!-- PC端删除一条数据 -->
    <select id="deleteTask">
        delete from amazon_task_pc where id=#{id}
    </select>
    <!-- PC端根据任务id修改已执行次数 -->
    <select id="updateCount">
        update amazon_task_pc set `count`=`count`+1,update_time = now() where id=#{taskId}
    </select>
    <!-- PC端根据任务id修改登录成功已执行次数 -->
    <select id="updateSginCount">
        update amazon_task_pc set `sginCount`=`sginCount`+1 where id=#{taskId}
    </select>
    <!-- PC端根据任务id查找任务详情，主要用于做编辑的时候回显数据 -->
    <select id="findTaskForId" resultType="com.zteek.entity.AmazonTaskRun">
        select asin,doPage,url,run_num as runNum,`count`,taskName,country from amazon_task_pc where id=#{id}
    </select>
    <!-- PC端根据任务id修改任务详情 -->
    <select id="updateTask">
        update amazon_task_pc set asin=#{task.asin},doPage=#{task.doPage},url=#{task.url},run_num=#{task.runNum},taskName=#{task.taskName},`count`=#{task.count},country=#{task.country} where id=#{id}
    </select>
    <!-- 手机端查找正在执行的国家有哪些 -->
    <select id="selectCountry" resultMap="BaseResultMap">
        select country from amazon_task where remaining &gt; 0 and data_status=1 group by country
    </select>
    <!-- 手机端查找当前任务的国家 -->
    <select id="selectCountryById" resultMap="BaseResultMap">
        select country from amazon_task where id=#{id}
    </select>
</mapper>